.title{
    margin-left:1%;

    font-size: 45px;
}

.cookingList{
    margin-left:1%;
    margin-top:1%;    
}

.cookimg{
    height:130px;
    width:130px;
}


.CookResult{
    margin-left:8%;
    margin-top:1%;
    font-size: 10px;   
}

.StButton{
    font-size: 20px;
    font-weight: bold;
    padding:10px 30px;
    color:#fff;
    border-style: none;
    background-color: #24d;
    
}

.Result{
    margin-left:1%;
    margin-top:1%;
    font-size: 30px;   
}

.kondate{
    color:Red;
}

.kuzi{
    animation:.5s linear infinite rotation;
}

@keyframes rotation{
    0%{ transform:rotate(-30deg);}
    50%{ transform:rotate(30deg); }
    100%{ transform:rotate(-30deg); }
}